{% extends "_layouts/generic-page-layout.twig" %}

{% block headLinks %}
    {{ parent() }}
{% endblock headLinks %}

{% block contentborderless %}
    <section class="edge edge-t">
        <div class="maxw">
            <header class="w-full z-10 relative" data-aos="fade-up" data-aos-duration="450" data-aos-delay="300">
                <h1 class="header-one text-red pb-10" >
                    {{ entry.contactHeroText|lower }}
                </h1>
                <p class="sc-callout text-left mb-4">
                    Questions, connections, ideas, prayer requests... It's all fair game!
                </p>
            </header>
            <section class="flex flex-wrap content-ctn relative mb-12 mx-auto">
                <div data-tf-widget="M7MaKfga" data-tf-opacity="0" data-tf-chat data-tf-medium="snippet" style="width:100%;height:400px;"></div><script src="//embed.typeform.com/next/embed.js"></script>
            </section>
        </div>
    </section>

{% endblock %}

{# -- Any JavaScript that should be included before </body> -- #}
{% block bodyJs %}
    {{ parent() }}
{% endblock bodyJs %}
