/**
 * pages/about.pcss
 *
 * Styles for the About page.
 *
 */

.about {
    &__hero-img {

        z-index: 0;
        margin-top: -50px;

        @screen xl {
            margin-top: -100px;
        }

        @screen max {
        }
    }
}
