/**
 * vendor.css
 *
 * All vendor CSS is imported here.
 *
 */

@import 'aos/dist/aos.css';

@import 'animate.css/animate.min.css';

@import 'spinkit/css/spinners/2-double-bounce.css';

@import 'vue-typed-js/dist/vue-typed-js.css';

/*
    Set color of ajax "loading" animation.
 */
.sk-double-bounce .sk-child {
    background-color: theme('colors.red');
}